---
// import Welcome from '../components/Welcome.astro';
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Projects from "../components/Projects.astro";
import Testimonials from "../components/testimonials.astro";
import Image from "../components/images.astro";
---

<Layout>
	<header
		class="flex flex-col justify-center items-center bg-cover bg-center bg-[url('/src/images/bgMobile.webp')]"
	>
		<div
			class="grid grid-cols-2 gap-y-8 items-center py-10 bg-gray-500/70 h-full w-full"
		>
			<div class="hidden">
				<!-- NavBar -->
			</div>
			<div
				class="border-2 border-r-0 border-border-beige relative z-10 col-start-2 flex flex-col justify-center h-[150px] pl-5 backdrop-blur-[2px]"
			>
				<h2
					class="font-abpreto text-white text-start text-lg font-medium"
				>
					INNOVARE WHITE ARQDESING STUDIO
				</h2>
			</div>
			<div
				class="text-white relative z-10 col-span-2 mx-2 my-5 p-2.5 border-2 border-border-beige backdrop-blur-[2px]"
			>
				<h1>
					En ArqDesing Studio, transformamos ideas en espacios unicos
					que inspiran y mejoran la vida de las personas. Nos
					especializemos en proyectos arquitectonicos contemporaneos,
					fusionando innivacion, estetica y sostenibilidad para crear
					ambientes que trascienden en le Tiempo.
				</h1>
				<h2>
					Nuestro enfoque combina lineas simples, materiales naturales
					y soluciones personalizadas, simpre respetando el entorno y
					las necesidades de cada cliente. Diseñamos con el proposito
					de generar emociones, el evento cada detalle a una
					experiencia arquitectonica memorable.
				</h2>
				<h2>
					Desde residencias privadas hasta espacios comerciales,
					nuestro equipo de arquitectos apsionados se dedica a
					convertir cada vision en una realidad impecable
				</h2>
			</div>
		</div>
	</header>

	<main class="flex flex-col gap-8">
		<section class="flex flex-col-reverse p-2.5 ">
			<div class="h-1/2">
				<Image
					ImgUrl="/src/images/imgAbout.webp"
					alt="Imagen de ArqDesing Studio"
					addClass="border-2 border-border-beige rounded-md"
				/>
			</div>
			<div class="h-1/2 my-2">
				<div class=" w-full mb-3">
					<h2 class="text-lg font-semibold text-green-950">Sobre Nosotros</h2>
				</div>
				<div class="flex flex-col gap-8">
					<p>
						En ArqDesing Studio, creemos que la arquitectura es mas
						que diseñar espacios; es crear expreciencias que
						conecten a las personas son su entorno. Con una vision
						enfocada en la inovacion y le minimalismo, diseñamos
						proyectos que combinan funcionalidad, estetica y
						sostenibilidad.
					</p>
					<p>
						Nuestro equipo esta conformado por arquitectos
						apasionados y creativos que entienden que cada proyecto
						es unico. Nos enorgullece trabajar con nuestros
						clientes, desde la conceptualizacion hasta la ejecucion,
						para dar vida a espacios que reflejen sus sueños y
						necesidades.
					</p>
					<div>
						<p>Nuestras Filosofia:</p>
						<ul class="flex flex-col gap-3 mt-2 list-disc pl-3">
							<li>
								<span class="font-semibold">Diseño inovador:</span> Soluciones
								arquitectonicas modernas y varnguardistas.
							</li>
							<li>
								<span class="font-semibold">Sostenibilidad:</span> Compromisa
								con materiales y practicas responsables.
							</li>
							<li>
								<span class="font-semibold"
								>Atencion al Detalle:</span
								> Elavmos cada elemento para crear espacios memorables.
							</li>
						</ul>
					</div>
					<p>
						Nos impulsa la pasion por crear espacios atemporales que
						dejen una huella positiva en quienes los habitan.
					</p>
				</div>
			</div>
		</section>

		<section class=" p-2.5">
			<div class=" w-full mb-5">
				<h2 class="text-green-950 text-lg font-semibold">Proyectos Destacados</h2>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<Projects />
			</div>
		</section>

		<section class="p-2.5">
			<div class=" w-full mb-5">
				<h2 class="text-green-950 text-lg font-semibold">Servicios</h2>
			</div>
			<div>
				<p class="my-5">
					En ArqDesing Studio, ofrecemos una amplia gama de servicios
					para satisfacer las necesidades de nuestros clientes. Desde
					la conceptualizacion hasta la ejecucion, nuestro equipo
					profesional se dedica a crear espacios unicos y memorables.
					Nuestros servicios incluyen:
				</p>

				<div
					class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5"
				>
					<div class="border-2 border-border-beige p-2.5 rounded-md">
						<div>
							<h2 class="font-semibold">
								Dieseño Arquitectonico
							</h2>
						</div>
						<div>
							<p>
								Transformamos tus ideas en proyectos
								arquitectonicos unicos y funcionales. Nos
								especializamos en le diseño de espacios
								residenciales y comerciales, cuidando cada
								detalle desde la conceptualidad hasta la entrega
								del proyecto.
							</p>
						</div>
					</div>

					<div class="border-2 border-border-beige p-2.5 rounded-md">
						<div>
							<h2 class="font-semibold">
								Consultoria Arquitectonico
							</h2>
						</div>
						<div>
							<p>
								Te asesoramos en el desarrollo de proyectos
								arquitectonicos, brindando soluciones
								personalizadas para maximizar el potencial de
								tus espacios, seimpre bajo un enfoque tecnico y
								estetico.
							</p>
						</div>
					</div>

					<div class="border-2 border-border-beige p-2.5 rounded-md">
						<div>
							<h2 class="font-semibold">
								Remodelacion y Renovacion
							</h2>
						</div>
						<div>
							<p>
								Renovamos espacios existentes para adptarlos a
								tus necesidades actuales, modernizando su
								estetica y mejorando su funcionalidad, simpre
								respetando la esencia del diseño original.
							</p>
						</div>
					</div>
					<div class="border-2 border-border-beige p-2.5 rounded-md">
						<div>
							<h2 class="font-semibold">
								Visualizacion 3D y Renders
							</h2>
						</div>
						<div>
							<p>
								Damos vida a tus ideas antes de la construccion
								mediante imagenes y recorridos virtuales de alta
								calidad, ayudandote a visualizar cada detalle
								del proyecto.
							</p>
						</div>
					</div>
					<div class="border-2 border-border-beige p-2.5 rounded-md">
						<div>
							<h2 class="font-semibold">Dieseño de Interiores</h2>
						</div>
						<div>
							<p>
								Creamos ambientes interiores que reflejan tu
								personalidad y estilo. Nuestro equipo trabaja
								con materiales, colores y textuiras para
								transfromar cada rincon en una expreriencia
								visua y sensorial.
							</p>
						</div>
					</div>
				</div>

				<p class="my-5">
					Ya sea que este planeando construir su casa de ensueño o
					renovar su espacio comercial, estamos aqui para ayudarlo a
					hacer realidad su vision. Nuestro compromiso es superar sus
					expectativas y crear espacios que inspiren y mejoren su
					vida.
				</p>
			</div>
		</section>

		<section class="p-2.5">
			<div class=" w-full mb-5">
				<h2 class="text-green-950 text-lg font-semibold">Testimonios</h2>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<Testimonials />
			</div>
		</section>
	</main>

	<footer class="border-t-2 mt-5 border-border-beige">
		<!--Contact -->
		<div class="p-2">
			<h2 class="text-center text-xl font-abpreto">ARQDESING STUDIO</h2>
		</div>
		<div class="hidden"></div><!-- nabvar -->
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-center">

			<div class="flex justify-center items-center gap-4 my-3 h-10">
				<a href="" class="w-[44px] h-[43px]">
					<!--?xml version="1.0" ?-->
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
						><g
							><path d="M0 0h24v24H0z" fill="none"></path><path
								d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"
								fill-rule="nonzero"></path></g
						></svg
					>
				</a>
				<a href="" class="w-[41px] h-[41px]">
					<svg
						enable-background="new 0 0 56.693 56.693"
						height=""
						id="Layer_1"
						version="1.1"
						viewBox="0 0 56.693 56.693"
						width=""
						xml:space="preserve"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						><g
							><path
								d="M30.071,27.101v-0.077c-0.016,0.026-0.033,0.052-0.05,0.077H30.071z"
							></path><path
								d="M49.265,4.667H7.145c-2.016,0-3.651,1.596-3.651,3.563v42.613c0,1.966,1.635,3.562,3.651,3.562h42.12   c2.019,0,3.654-1.597,3.654-3.562V8.23C52.919,6.262,51.283,4.667,49.265,4.667z M18.475,46.304h-7.465V23.845h7.465V46.304z    M14.743,20.777h-0.05c-2.504,0-4.124-1.725-4.124-3.88c0-2.203,1.67-3.88,4.223-3.88c2.554,0,4.125,1.677,4.175,3.88   C18.967,19.052,17.345,20.777,14.743,20.777z M45.394,46.304h-7.465V34.286c0-3.018-1.08-5.078-3.781-5.078   c-2.062,0-3.29,1.389-3.831,2.731c-0.197,0.479-0.245,1.149-0.245,1.821v12.543h-7.465c0,0,0.098-20.354,0-22.459h7.465v3.179   c0.992-1.53,2.766-3.709,6.729-3.709c4.911,0,8.594,3.211,8.594,10.11V46.304z"
							></path></g
						></svg
					>
				</a>
				<a href="" class="w-[40px] h-[40px]">
					<!--?xml version="1.0" ?-->
					<svg
						fill="none"
						height=""
						viewBox="0 0 17 17"
						width=""
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M14.1762 0.823608H2.68022C2.08296 0.823608 1.51015 1.06087 1.08782 1.4832C0.665486 1.90554 0.428223 2.47834 0.428223 3.07561V14.5716C0.428223 15.1689 0.665486 15.7417 1.08782 16.164C1.51015 16.5863 2.08296 16.8236 2.68022 16.8236H7.91222V10.9836H5.93422V8.70561H7.91222V7.02761C7.91222 6.07661 8.17522 5.33761 8.70122 4.81261C9.22722 4.28661 9.94022 4.02261 10.8412 4.02261C11.7432 4.02261 12.3272 4.05761 12.5942 4.12361V6.15161H11.3922C10.9582 6.15161 10.6622 6.24361 10.5032 6.42761C10.3452 6.61061 10.2662 6.88661 10.2662 7.25361V8.70561H12.5192L12.2192 10.9836H10.2662V16.8236H14.1762C14.7735 16.8236 15.3463 16.5863 15.7686 16.164C16.191 15.7417 16.4282 15.1689 16.4282 14.5716V3.07561C16.4282 2.47834 16.191 1.90554 15.7686 1.4832C15.3463 1.06087 14.7735 0.823608 14.1762 0.823608Z"
							fill="black"></path></svg
					>
				</a>
			</div>

			<div class=" flex items-center gap-2 w-full px-2">
				<div class="w-5 h-5">
					<?xml version="1.0" ?><svg enable-background="new 0 0 141.732 141.732" height="" id="Livello_1" version="1.1" viewBox="0 0 141.732 141.732" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_110"><path d="M95.35,50.645c0,13.98-11.389,25.322-25.438,25.322c-14.051,0-25.438-11.342-25.438-25.322   c0-13.984,11.389-25.322,25.438-25.322C83.964,25.322,95.35,36.66,95.35,50.645 M121.743,50.645C121.743,22.674,98.966,0,70.866,0   C42.768,0,19.989,22.674,19.989,50.645c0,12.298,4.408,23.574,11.733,32.345l39.188,56.283l39.761-57.104   c1.428-1.779,2.736-3.654,3.916-5.625l0.402-0.574h-0.066C119.253,68.516,121.743,59.874,121.743,50.645"/></g><g id="Livello_1_1_"/></svg>
				</div>
				<a href="http://AV.Horacio col, Polanco ||| Secc, Miguel Hidalgo, 11550 ciudad de MExico, CDMX" class="text-green-950">AV.Horacio col, Polanco ||| Secc, Miguel Hidalgo, 11550 ciudad de MExico, CDMX</a>
			</div>
			<div class=" flex items-center gap-2 w-full px-2">
				<div class="w-5 h-5">
					<?xml version="1.0" ?><svg height="" viewBox="0 0 512 512" width="" xmlns="http://www.w3.org/2000/svg"><title/><path d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z"/></svg>
				</div>
				<p class="text-green-950">Lunes a Viernes - 9:00 AM a 6:00 PM <br> Sabados - 10:00 AM a 2:00 PM</p>
			</div>
			<div class=" flex items-center gap-2 w-full px-2">
				<div class="w-5 h-5">
					<?xml version="1.0" ?><svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
				</div>
				<a href="tel:+5212345678" class="text-green-950">+52 1234 5678</a>
			</div>
		</div>

		<div class="w-full flex justify-center items-center gap-2 py-5">	
			<div class="w-5 h-5 flex items-center gap-2">
				<?xml version="1.0" ?><svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/></svg>
			</div>
			<a href="" class="text-green-950">contacto@arqsedingstudio.com </a>
		</div>
	</footer>
</Layout>