<header
		class="flex flex-col justify-center items-center bg-cover bg-center bg-[url('/src/images/bgMobile.webp')]" id="inicio"
	>
		<div
			class="grid grid-cols-2 gap-y-8 items-center py-10 bg-gray-500/70 h-full w-full"
		>
			<div class="hidden">
				<!-- NavBar -->
			</div>
			<div
				class="border-2 border-r-0 border-border-beige relative z-10 col-start-2 flex flex-col justify-center h-[150px] pl-5 backdrop-blur-[2px]"
			>
				<h2
					class="font-abpreto text-white text-start text-lg font-medium"
				>
					INNOVARE WHITE ARQDESING STUDIO
				</h2>
			</div>
			<div
				class="text-white relative z-10 col-span-2 mx-2 my-5 p-2.5 border-2 border-border-beige backdrop-blur-[2px]"
			>
				<h1>
					En ArqDesing Studio, transformamos ideas en espacios unicos
					que inspiran y mejoran la vida de las personas. Nos
					especializemos en proyectos arquitectonicos contemporaneos,
					fusionando innivacion, estetica y sostenibilidad para crear
					ambientes que trascienden en le Tiempo.
				</h1>
				<h2>
					Nuestro enfoque combina lineas simples, materiales naturales
					y soluciones personalizadas, simpre respetando el entorno y
					las necesidades de cada cliente. Diseñamos con el proposito
					de generar emociones, el evento cada detalle a una
					experiencia arquitectonica memorable.
				</h2>
				<h2>
					Desde residencias privadas hasta espacios comerciales,
					nuestro equipo de arquitectos apsionados se dedica a
					convertir cada vision en una realidad impecable
				</h2>
			</div>
		</div>
	</header>