<section class="p-2.5">
    <div class="w-full mb-5">
        <h2 class="text-green-950 text-lg font-semibold">
            Proyectos Destacados
        </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div
            class="h-[800px] w-full relative bg-cover bg-center rounded-md bg-[url('/src/images/project1.webp')]"
        >
            <div
                class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent rounded-md"
            >
            </div>

            <div
                class="absolute bottom-0 py-6 px-1.5 text-white border-t-2 border-border-beige rounded-b-md h-1/3"
            >
                <p>
                    En este proyecto moderno que se distingue por su fachada
                    geométrica de líneas limpias y su estructura de hormigón
                    visto. Los grandes ventanales reflejan el cielo y los
                    árboles circundantes, creando un efecto visual de
                    continuidad y transparencia. El estanque, con su superficie
                    ligeramente ondulada, duplica la imagen del edificio y la
                    vegetación, generando una sensación de profundidad y
                    serenidad.
                </p>
                <!-- <div>
            <p>Enfoque:</p>
            <p>
                En nuestro estudio, nos especializamos en diseñar espacios que
                armonicen la arquitectura con el entorno natural. Buscamos crear
                edificios que sean funcionales y estéticamente atractivos,
                utilizando materiales sostenibles y tecnologías innovadoras. Nos
                enfocamos en la creación de espacios que mejoren la calidad de
                vida de las personas y que sean respetuosos con el medio
                ambiente.
            </p>
        </div> -->
            </div>
        </div>

        <div
            class="h-[800px] w-full relative bg-cover bg-center rounded-md bg-[url('/src/images/project2.webp')]"
        >
            <!-- container -->
            <div
                class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent rounded-md"
            >
            </div>

            <div
                class="absolute bottom-0 py-3 px-1.5 text-white border-t-2 border-border-beige rounded-b-md h-1/3"
            >
                <p>
                    En este proyecto contemporáneo con una fachada de cristal
                    que se extiende a lo largo de toda su estructura. El cristal
                    refleja el cielo azul profundo, creando un efecto visual de
                    inmensidad y ligereza. La iluminación tenue que emana del
                    interior del edificio, visible en las ventanas, añade
                    calidez y profundidad a la imagen, creando un contraste
                    interesante con la oscuridad del cielo. La perspectiva de la
                    imagen, tomada desde un ángulo bajo, resalta la altura y la
                    imponencia del edificio.
                </p>
                <!-- <div>
            <p>Enfoque:</p>
            <p>
                Nos apasiona crear diseños modernos y elegantes que reflejen las últimas tendencias arquitectónicas. Utilizamos materiales como el cristal y el acero para lograr espacios luminosos, sofisticados y funcionales. Nos enfocamos en la creación de edificios que sean icónicos y que se conviertan en referentes en su entorno.
            </p>
        </div> -->
            </div>
        </div>

        <div
            class="h-[800px] w-full relative bg-cover bg-center rounded-md bg-[url('/src/images/project3.webp')]"
        >
            <!-- container -->
            <div
                class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent rounded-md"
            >
            </div>

            <div
                class="absolute bottom-0 py-0 px-1.5 text-white border-t-2 border-border-beige rounded-b-md h-1/3"
            >
                <p>
                    Este proyecto es una casa moderna con un diseño
                    arquitectónico distintivo, caracterizado por su fachada de
                    líneas limpias y su combinación de materiales. El
                    revestimiento oscuro de la fachada le confiere un aspecto
                    elegante y sofisticado, mientras que la madera y el cristal
                    añaden textura y contraste. La iluminación tenue que emana
                    del interior de la casa, visible en las ventanas y la puerta
                    principal, crea un ambiente cálido y acogedor. El camino de
                    entrada, iluminado por la luz de la casa, guía al visitante
                    hacia la puerta principal, creando una sensación de
                    bienvenida.
                </p>
                <!-- <div>
            <p>Enfoque:</p>
            <p>
                Nos especializamos en diseñar casas modernas y funcionales que se adapten a las necesidades y gustos de nuestros clientes. Nos enfocamos en la creación de espacios que sean cómodos, privados y que se integren con el entorno natural. Utilizamos materiales de alta calidad y tecnologías innovadoras para garantizar la durabilidad y la eficiencia de nuestras construcciones.
            </p>
        </div> -->
            </div>
        </div>
    </div>
</section>
