<section class="p-2.5" id="servicios">
    <div class=" w-full mb-5">
        <h2 class="text-green-950 text-lg font-semibold">Servicios</h2>
    </div>
    <div>
        <p class="my-5">
            En ArqDesing Studio, ofrecemos una amplia gama de servicios
            para satisfacer las necesidades de nuestros clientes. Desde
            la conceptualizacion hasta la ejecucion, nuestro equipo
            profesional se dedica a crear espacios unicos y memorables.
            Nuestros servicios incluyen:
        </p>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:grid-rows-3"
        >
            <div class="border-2 border-border-beige p-2.5 rounded-md md:col-span-2 ">
                <div>
                    <h2 class="font-semibold">
                        Dieseño Arquitectonico
                    </h2>
                </div>
                <div>
                    <p>
                        Transformamos tus ideas en proyectos
                        arquitectonicos unicos y funcionales. Nos
                        especializamos en le diseño de espacios
                        residenciales y comerciales, cuidando cada
                        detalle desde la conceptualidad hasta la entrega
                        del proyecto.
                    </p>
                </div>
            </div>

            <div class="border-2 border-border-beige p-2.5 rounded-md md:row-span-3">
                <div>
                    <h2 class="font-semibold">
                        Consultoria Arquitectonico
                    </h2>
                </div>
                <div>
                    <p>
                        Te asesoramos en el desarrollo de proyectos
                        arquitectonicos, brindando soluciones
                        personalizadas para maximizar el potencial de
                        tus espacios, seimpre bajo un enfoque tecnico y
                        estetico.
                    </p>
                </div>
            </div>

            <div class="border-2 border-border-beige p-2.5 rounded-md">
                <div>
                    <h2 class="font-semibold">
                        Remodelacion y Renovacion
                    </h2>
                </div>
                <div>
                    <p>
                        Renovamos espacios existentes para adptarlos a
                        tus necesidades actuales, modernizando su
                        estetica y mejorando su funcionalidad, simpre
                        respetando la esencia del diseño original.
                    </p>
                </div>
            </div>
            <div class="border-2 border-border-beige p-2.5 rounded-md">
                <div>
                    <h2 class="font-semibold">
                        Visualizacion 3D y Renders
                    </h2>
                </div>
                <div>
                    <p>
                        Damos vida a tus ideas antes de la construccion
                        mediante imagenes y recorridos virtuales de alta
                        calidad, ayudandote a visualizar cada detalle
                        del proyecto.
                    </p>
                </div>
            </div>
            <div class="border-2 border-border-beige p-2.5 rounded-md md:col-span-2">
                <div>
                    <h2 class="font-semibold">Dieseño de Interiores</h2>
                </div>
                <div>
                    <p>
                        Creamos ambientes interiores que reflejan tu
                        personalidad y estilo. Nuestro equipo trabaja
                        con materiales, colores y textuiras para
                        transfromar cada rincon en una expreriencia
                        visua y sensorial.
                    </p>
                </div>
            </div>
        </div>

        <p class="my-5">
            Ya sea que este planeando construir su casa de ensueño o
            renovar su espacio comercial, estamos aqui para ayudarlo a
            hacer realidad su vision. Nuestro compromiso es superar sus
            expectativas y crear espacios que inspiren y mejoren su
            vida.
        </p>
    </div>
</section>