---
import Image from "../components/images.astro";
import andreaLopezUser from "/src/images/andreaLopezUser.avif";
import carlosMendezUser from "/src/images/carlosMendezUser.webp";
import mariaGonzalesUser from "/src/images/mariaGonzalesUser.webp";
import luisOrtegaUser from "/src/images/LuisOrtegaUser.avif";
---
<section class="p-2.5" id="testimonios">
    <div class="mb-5">
        <h2 class="text-green-950 text-lg font-semibold">Testimonios</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8 ">
        <div class="flex flex-col-reverse gap-4 col-span-3 lg:col-start-2 md:col-span-3 items-center ">
            <div
                class="flex overflow-x-auto snap-mandatory snap-x gap-4 w-full"
                id="usersScroll"
            >
                <!-- users -->
                <div
                    class="w-full px-4 flex items-center h-20 border-2 border-border-beige rounded-md grow-0 shrink-0 snap-center user"
                >
                    <div class="flex gap-4">
                        <Image
                            ImgUrl={andreaLopezUser}
                            alt="Andrea Lopez"
                            addClass="w-16 h-16 rounded-full"
                        />
                        <div class="border-l pl-2">
                            <p>Andrea Lopez</p>
                            <p class="text-nowrap">Propietaria Residencial</p>
                        </div>
                    </div>
                </div>

                <div
                    class="w-full px-4 flex items-center h-20 border-2 border-border-beige rounded-md grow-0 shrink-0 snap-center user"
                >
                    <div class="flex gap-4">
                        <Image
                            ImgUrl={carlosMendezUser}
                            alt="Carlos Mendez"
                            addClass="w-16 h-16 rounded-full"
                        />
                        <div class="border-l pl-2">
                            <p>Carlos Mendez</p>
                            <p class="text-nowrap">Gerente Comercial</p>
                        </div>
                    </div>
                </div>

                <div
                    class="w-full px-4 flex items-center h-20 border-2 border-border-beige rounded-md grow-0 shrink-0 snap-center user"
                >
                    <div class="flex gap-4">
                        <Image
                            ImgUrl={mariaGonzalesUser}
                            alt="Maria Gonzales"
                            addClass="w-16 h-16 rounded-full border"
                        />
                        <div class="border-l pl-2">
                            <p>Maria Gonzalez</p>
                            <p class="text-nowrap">Asesora Inmobiliaria</p>
                        </div>
                    </div>
                </div>

                <div
                    class="w-full px-4 flex items-center h-20 border-2 border-border-beige rounded-md grow-0 shrink-0 snap-center user"
                >
                    <div class="flex gap-4">
                        <Image
                            ImgUrl={luisOrtegaUser}
                            alt="Luis Ortega"
                            addClass="w-16 h-16 rounded-full border"
                        />
                        <div class="border-l pl-2">
                            <p>Luis Ortega</p>
                            <p class="text-nowrap">Propietario Residencial</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!-- Testimonio -->
                <div class="border-2 h-40 border-border-beige rounded-md p-4">
                    <p id="testimonialText"></p>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    const testimonialText = document.getElementById("testimonialText");

    const testimonios = [
        "Trabajar con ArqDesign Studio fue una experiencia increíble. Entendieron perfectamente nuestras necesidades y transformaron nuestra casa en un espacio moderno y funcional.",
        "Contratamos a ArqDesign para remodelar nuestras oficinas y el resultado fue espectacular. El diseñador no solo mejoró la estética, sino también la productividad de nuestro equipo. Muy recomendado.",
        "La consultoría que recibimos fue clave para el éxito de nuestro proyecto inmobiliario. Nos brindaron ideas innovadoras y soluciones sostenibles que agregaron mucho valor al desarrollo.",
        "El equipo de ArqDesign Studio supo plasmar nuestra visión de manera impecable. Gracias a su profesionalismo y dedicación, hoy disfrutamos de un hogar que superó todas nuestras expectativas.",
    ];

    const users = document.querySelectorAll(".user");

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    let index = Array.from(users).indexOf(entry.target);
                    testimonialText.textContent = testimonios[index];
                }
            });
        },
        { root: document.getElementById("usersScroll"), threshold: 0.6 }, // Detecta cuando el 60% del elemento está visible
    );

    users.forEach((user) => observer.observe(user));
</script>
